.footer {color: grey; font-size: 8pt}

.customHr {
    width: 100%;
    font-size: 1px;
    color: rgba(0, 0, 0, 0);
    line-height: 1px;

    background-color: grey;
    margin-top: -6px;
    margin-bottom: 10px;
}

body {background-color: #a3cbcc; font-family: Arial,Helvetica;}

/* Different body for the admin page */
.body-admin {background-color: #60797a; font-family: Arial,Helvetica;}

#loginFormBox {
    border-radius: 8pt;
    background: white;
    padding: 10pt;
    width: 170pt;
   /* height: 150pt; */
}

.errMsg {
    color: crimson; font-size: 9pt;
}

.okMsg {
    color: black; font-size: 9pt;
}

/**
 * Use to display when the Dora environment is *not* production so users can know they are in a lower/test environment
 */
.environmentWarning {
    font-size: 10pt;
    color: #ef4747;
    background: white;
}

/* For displaying data source information (SQLite, VCenter, Redis) on data output tables */
.dataSource {
    color: darkgoldenrod; font-size: 9pt;
}

/* For displaying rows loaded */
.rowsLoaded {
    color: dimgray; font-size: 9pt;
}
/**
 * Style for one-off static "tip" messages on page
 */
.uiStaticTip {
    font-size: 8pt;
    color: rgba(0, 0, 0, 0.67);
}

/**
 * Use for results output with medium sized text
 */
.uiResultsOutputMedium {
    font-size: 8pt;
    color: rgba(0, 0, 0, 0.67);
}

/**
 * Use for results output with small text
 */
.uiResultsOutputSmall {
    font-size: 6pt;
    color: rgba(0, 0, 0, 0.67);
}

/**
 * Provides useful information to help user with using the UI or the process
 */
.uiInfo {
    border-style: solid;
    border-width: 1px;
    border-radius: 4pt;
    border-color: #dadae8;
    background: rgba(0, 0, 0, 0.05);
    font-size: 9pt;
    padding-left: 10pt;
    padding-right: 10pt;
}

/**
 * UIInfo variant with smaller font size
 */
.uiInfo.uiInfoSmall {
    font-size: 7.5pt;
}

/**
 * Used to highlight more important information to avoid process problems or possibly dangerous situations
 */
.uiReminder {
    border-style: solid;
    border-width: 1px;
    border-radius: 4pt;
    border-color: rgba(0,0,0,0.25);
    background: rgb(255, 205, 150);
    font-size: 9pt;
    color: rgba(0,0,0,0.66);
    padding-left: 10pt;
    padding-right: 10pt;
}

.uiLabel01 {
    font-size: 10pt;
}

.uiLabel02 {
    font-size: 8pt;
}

.checkBoxSmall {
    vertical-align: middle;
    font-size: 8pt;
}

.checkBoxSmall:hover {
    font-weight: bold;
}

/*
 *  Used by Dora table Group feature list item styling
 */
.groupListItem {
    font-size: 8pt;
}
.groupListItem:hover {
    background: rgba(0,0,128,0.25);
    font-weight: bold;
}
.groupItemHeader {
    font-size: 8pt;
    font-weight: bold;
    padding-bottom: 2pt;
    border-bottom: 1px double rgba(123,55,193,0.33);
    margin-bottom: 2pt;
}

/* Box to highlight the critical "environment preset" box */
.elementPresetBox {
    border-style: inset;
    border-width: 1.5px;
    border-radius: 4pt;
    border-color: rgba(0,0,0,0.33);
    background: cornsilk;
    font-size: 10pt;
    padding: 4pt;
}

/*** Tool tip hover text ***/
.tooltip {
    position: relative;
    display: inline-block;
    z-index: 1;
}

/*** the actual text within the hovering tooltip bubble ***/
.tooltip .tooltiptext {
    visibility: hidden;
    top: 32px;  /* tool tip will appear below the element */
    width: 175pt;
    background-color: lightyellow;
    color: darkslategray;
    text-align: center;
    font-size: 8pt;
    border-radius: 2pt;
    padding: 8pt 0;
    box-shadow: 1pt 1pt 4px;

    /* Position the tooltip */
    position: absolute;
    z-index: 7;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* For displaying important literal data in box border */
.literalDataBoxed {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 2px;
}


.outerDIV {
    position: relative;
    padding-top: 30px;
}

.innerDIV {
    overflow: auto;
    max-height: 250px;
}

/**
 * Use this to call out regular expression code especially when its embedded within other text
 */
.regexCode {
    font-family: Courier, Monospaced, "Courier New";
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.25);
    border-width: 0.5px;
    border-radius: 2px;
}

/**
 * Small footer information typically at the bottom most part of the page
 */
.referenceFooter {
    font-size: 7pt;
}

/****************************************************/
/* Output table styling                             */
/*                                                  */
/* Ref: https://www.w3schools.com/css/css_table.asp */
/****************************************************/
.outputTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 8pt;
    border-collapse: collapse;
    width: 100%;
}
.outputTable td, .outputTable th {  /* double definition */
    border: 1px solid #ddd;
    padding: 2px;
}
.outputTable tr:nth-child(even){background-color: #f2f2f2;}
.outputTable tr:nth-child(odd){background-color: #e1e1e1;}
.outputTable tr:hover {background-color: rgba(176, 221, 73, 0.68);}
.outputTable th {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    vertical-align: top;
    color: white;
    cursor: pointer;
    position: sticky; /* Locks the table head cell from scrolling but only when table is in a scrolling <div> container */
    top: 0;   /* Needed for sticky */
    z-index: 3;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7abf89+0,2b8911+11,87c47d+100 */
    background: #7abf89; /* Old browsers */
    background: -moz-linear-gradient(top,  #7abf89 0%, #2b8911 11%, #87c47d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #7abf89 0%,#2b8911 11%,#87c47d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #7abf89 0%,#2b8911 11%,#87c47d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abf89', endColorstr='#87c47d',GradientType=0 ); /* IE6-9 */

}
.outputTable th:hover {
    background-color: #54c657;
    transition: 300ms;
}

/* Caution Strips */
/* Ref: https://developer.mozilla.org/en-US/docs/Archive/Web/JavaScript/for_each...in */
.cautionStrips {
    background-color: #ffe7e8;
    border-width: 50px;
    border-image: repeating-linear-gradient(-45deg, #747474 0, #000000 10px, #f6b73c 10px, #f6b73c 20px, #e66465 20px) 20 20 repeat;
    padding: 24px;
}

/**
 * Pulsating blink to show activity like "VM move" underway
 */
.blinkPulsating {
     animation: blinker 0.45s linear infinite;
 }
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/**
 * Blink to show found element in custom search
 */
.blinkSearchFound {
    animation: blinkerFoundItem 0.35s linear infinite;
}
@keyframes blinkerFoundItem {
    50% {
        background: #ffdb28;
    }
}

/**
 * Caution stripes for indicating possible hazardous operations (high intensity)
 */
.stripesCautionHigh {
    background:repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.8) , rgba(0, 0, 0, 0.8) 9px, rgba(225, 223, 0, 0.8) 9px, rgba(225, 223, 0, 0.8) 18px);
}

/**
 * Caution stripes for indicating possible hazardous operations (medium intensity)
 */
.stripesCautionMedium {
    background:repeating-linear-gradient(-45deg, rgba(15, 15, 0, 0.75) , rgba(15, 15, 0, 0.75) 9px, rgba(205, 203, 0, 0.8) 9px, rgba(205, 203, 0, 0.8) 18px);
}

/**
 * Styling for options small option labels used for checkbox, radio buttons, etc.
 */
.optionLabel {
    font-size: 8pt;
}

/**
 * Largest of the subtitles
 */
.subtitle1 {
    font-size: 9pt;
    font-weight: bold;
}
/**
 * Medium subtitle
 */
.subtitle2 {
    font-size: 8pt;
    font-weight: bold;
}
/**
 * Smallest of the subtitles
 */
.subtitle3 {
    font-size: 8pt;
    font-weight: normal;
}

/**
 * Dropdown menu
 */
.dropDownMenu1 {
    position: absolute;
    padding: 10px;
    background: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 1px 1px 1px;
    z-index: 7;
}

/****************************************************/
/* Balance table table & borders styling            */
/*                                                  */
/* Ref: https://www.w3schools.com/css/css_table.asp */
/****************************************************/
.balRack {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 10px;
}

.balRack-rack1 {
    background-color: #f8fff8;
}

.balRack-rack2 {
    background-color: #fff7f3;
}

.balRack-rack3 {
    background-color: #f1faff;
}

.balHypervisor {
    border: 1px solid;
    border-radius: 4px
}

.balTimestamp {
    color: dimgrey;
    font-size: 9pt;
}

/* Balancing stats table */
/* ------------------------------- */
.balEnvStats {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.balEnvStats .label {
    font-weight: bold;
    text-align: right;
}

.balEnvStats .value {
    font-family: Courier, "Courier New", Monospaced;
    text-align: left;
    border: 1px solid #ddd;
}
/* ------------------------------- */

/* Balancing environment rackview table styles */
.balHypervisorTbl {
    background-color: #fefefe88;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 7pt;
    border-collapse: collapse;
    width: 100%;
}

.balHypervisorTbl th {
    border: 1px solid #ddd;
    font-size: 12pt;
    font-weight: bold;
    padding: 2px;
}

.balHypervisorTbl td, .balHypervisorTbl th {  /* double definition */
    border: 1px solid #ddd;
    padding: 2px;
}

/* Log output table */
.balLogTitle {
    font-size: 12pt;
    font-weight: bold;
}

.balLogTbl td, .balLogTbl th {  /* double definition */
    border: 1px solid #ddd;
    padding: 2px;
}

.balLogTbl {
    background-color: #fefefe88;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 7pt;
    border-collapse: collapse;
    width: 100%;
}

.balLogTbl th {
    border: 1px solid #ddd;
    font-weight: normal;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12pt;
    padding: 2px;
}

.balRackTitle {
    color: dimgrey;
    font-size: 15pt;
    font-weight: bolder;
    border-bottom: solid 1px rgba(128, 128, 128, 0.25);

}

.balRackTagValue {
    color: dimgrey;
    font-size: 8pt;
    margin-bottom: 10px;
}

.balVmHeader {
    font-weight: bold;
    text-decoration: underline;
}

/* Label for CURRENT and PROPOSED in rack view */
.balCategory {
    font-size: 9pt;
    font-weight: bold;
    background: rgba(0,0,0,0.025);
}

/* Label for hypervisor title in rack view */
.balHypervisorLabel {
    font-size: 12pt;
    font-weight: bold;
    background: rgba(0,0,0,0.025);
    border-bottom: solid 1px;
}

/* Label for hypervisor title in rack view */
.balHypervisorClusterLabel {
    font-size: 9pt;
    font-weight: bold;
    color: rgba(0,0,0,0.66);
    background: rgba(0,0,0,0.025);
    border-bottom: solid 1px;
}

.balSubTotal {
    font-weight: bold;
}

.balTotal {
    font-weight: bold;
}

.balRowLabel {
    font-style: italic;
}

/* Style for floating "basket" area at the bottom that stores the "unplaced" VMS for drag-n-drop operations */
.balFloatUnplacedVMs {
    background: #e1e1e1;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 128px;
    background: linear-gradient(to bottom, rgba(255,250,255,1) 0%, rgba(246,246,246,1) 50%, rgba(224,224,224,1) 100%);
    border-top: 3px solid white;
    box-shadow: 0px -1px 2px 1px rgba(0,0,0,0.25);
    z-index: 5;
}

/* Style for floating status bar at top of the window */
.balFloatStatusBar {
    background: #f1ce01;
    position: fixed;
    padding-left: 6pt;
    box-shadow: 11px 21px 72px -11px rgba(0,0,0,0.85);
    left: 0;
    right: 0;
    top: 0;
    font-size: 22pt;
    height: 56px;
    vertical-align: middle;
    z-index: 6;
}

/* Style for floating error bar at top of the window */
.balFloatInvalidSessionBar {
    background: #cb0000;
    position: fixed;
    padding-left: 6pt;
    box-shadow: 11px 21px 72px -11px rgba(0,0,0,0.85);
    left: 0;
    right: 0;
    top: 0;
    font-size: 14pt;
    color: white;
    height: 56px;
    text-align: center;
    vertical-align: center;
    z-index: 7;
}

/**
 * Defines the keyboard search VM popup 'widget'
 */
.balVmSearchWidget {
    position: fixed;
    left: 18px;
    bottom: 250px;
    padding: 10px;
    background: #f5f5dc;
    border: 1px solid #ddd;
    border-radius: 16px;
    box-shadow: 2px 2px 5px;
    cursor: move;
    z-index: 8;
}

/**
 * Defines the VM Move Execution popup 'widget'
 */
.balVmMoveWidget {
    position: fixed;
    right: 18px;
    bottom: 200px;
    padding: 10px;
    background: linear-gradient(to bottom, rgba(245,245,255,1) 0%, rgba(246,246,246,1) 50%, rgba(224,224,224,1) 100%);
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 2px 2px 5px;
    cursor: grab;
    z-index: 5;
}

/* Modal blocker for balance VM Move dialog box */
.balModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 7;  /* Must be layered above everything else but *under* the search widget */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}

/* Modal Content/Box */
.balModalContent {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    box-shadow: 6px 6px 10px;
    width: 66%;
    z-index: 9;
}

/* Modal container for Balance start dialog content */
.balBalanceStartModalContent {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    box-shadow: 6px 6px 10px;
    width: 55%;
    z-index: 9;
}

.balVmTypeSensitive {
    font-weight: bold;
}

.balVmTypeHeavyWriter {
    font-weight: bold;
}

.balVmTypeHeavyReader {
    font-weight: bold;
}

.balUnplacedVMTitle {
    font-size: 10pt;
    font-weight: bold;
}

.balRuleViolation {
    font-size: 11pt;
}

.balRuleViolationType {
    border-radius: 4px;
    padding: 1px;
    border: 1px solid black;
    color: lightyellow;
    font-weight: bold;
    background-color: red;
}

.balHypervisorFlagViolation {
    border-radius: 4px;
    padding: 1px;
    border: 1px solid rgba(0, 0, 0, 0.36);
    color: black;
    font-weight: bold;
    background-color: rgba(255, 218, 218, 0.08);
    float:right;
    font-size: 9pt;
}

.balHypervisorTag {
    border-radius: 4px;
    padding: 1px;
    border: 1px solid rgba(0, 0, 0, 0.36);
    color: black;
    font-weight: bold;
    background-color: rgba(255, 218, 218, 0.08);
    float:left;
    font-size: 9pt;
}
.balRuleViolationHvHeader {
    color: lightgoldenrodyellow;
    background-color: black;
}

.balLegend {
    font-size: 9pt;
}

.balLegendTitle {
    background: black;
    color: white;
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
}

/**
 * Style used for highlighting search matches on-screen
 */
.balSearchHighlight {
    border: 2px solid green;
}

/****************************************************/
/* Balance VM search widget output table styling    */
/*                                                  */
/* Ref: https://www.w3schools.com/css/css_table.asp */
/****************************************************/
.balVmSearchTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 9pt;
    border-collapse: collapse;
    width: 100%;
}
.balVmSearchTable th {
    border: 1px solid #ddd;
    font-weight: bold;
    padding: 0px;
}
.balVmSearchTable td {
    border: 1px solid #ddd;
    padding: 2px;
    font-size: 7pt;
}
.balVmSearchTable tr:nth-child(even){background-color: #f2f2f2;}
.balVmSearchTable tr:nth-child(odd){background-color: #e1e1e1;}
.balVmSearchTable tr:hover {background-color: rgba(78, 101, 62, 0.66); cursor: pointer;}
.balVmSearchTable th {
    text-align: left;
    background-color: rgb(63, 125, 70);
    color: ghostwhite;
    cursor: pointer;
    position: sticky; /* Locks the table head cell from scrolling but only when table is in a scrolling <div> container */
    top: 0;   /* Needed for sticky */
}


/****************************************************/
/* Balance VM move widget output table styling    */
/*                                                  */
/* Ref: https://www.w3schools.com/css/css_table.asp */
/****************************************************/
.balVmMoveTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 9pt;
    border-collapse: collapse;
    width: 100%;
}
.balVmMoveTable th {
    border: 1px solid #ddd;
    font-weight: bold;
    padding: 0px;
}
.balVmMoveTable td {
    border: 1px solid #ddd;
    padding: 2px;
    font-size: 7pt;
}
.balVmMoveTable tr:nth-child(even){background-color: #f2f2f2;}
.balVmMoveTable tr:nth-child(odd){background-color: #e1e1e1;}
.balVmMoveTable tr:hover {background-color: rgba(207, 207, 234, 0.66); cursor: pointer;}
.balVmMoveTable th {
    text-align: left;
    background-color: rgb(27, 101, 121);
    color: ghostwhite;
    cursor: pointer;
    position: sticky; /* Locks the table head cell from scrolling but only when table is in a scrolling <div> container */
    top: 0;   /* Needed for sticky */
}

/**
 * Specifies a border hover effect
 */
.hover01:hover {
    border: 2px dashed rgba(0, 24, 255, 0.25)
}

/**
 * Table toolbar status indicator
 */
.tableStatusIndicator01 {
    border: 1px solid rgba(186, 180, 0, 0.5);
    border-radius: 10px;
    background: #ffffb3;
    margin-left: 8pt;
    margin-bottom: 8pt;
    padding: 3px 5px 5px 3px;
    font-size: 50%;
    font-weight: bold;
}

/****************************************************/
/*   Internal tab styles - these are the subtabs    */
/*   within each main Dora tab                      */
/****************************************************/
.internalTab {
    background: #cbeeff;
    font-weight: bold;
    border-left: 1.5px solid rgba(0,0,0,0.6);
    border-top: 1.5px solid rgba(0,0,0,0.6);
    border-bottom: 0;
    border-right: 1.5px solid rgba(0,0,0,0.6);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 0;
    margin-right: 2pt;
    padding-left: 10pt;
    padding-right: 10pt;
    box-shadow: 1px -1px 1px 1px rgba(0,0,0,0.15);
    cursor: default;
    transition: 0.3s;
    z-index: 0;
}

/*
 * Tab style when "deselected" and not the currently viewed tab
 */
.internalTab.deselected {
    background: rgba(0,0,0,0.1);
    font-weight: normal;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.0);
    color: rgba(0,0,0,0.4);
}

/*
 * Tab hover effect
 */
.internalTab:hover, .internalTab deselected:hover {
    background-color: #6bcefd;
}

/*
 * Internal tab's frame style
 */
.internalTabFrame {
    border: solid 1px rgba(0,0,0, 0.25);
    border-radius: 2pt;
    padding: 4pt;
    display: none;   /* internal tab contents initially hidden by default -- must activate by Javascript to display */
}


/***************************************************/
/*                                                 */
/*            Beveled Button                       */
/*                                                 */
/***************************************************/
.beveledButton {
     display: inline-block;
     color: #fff;
     text-shadow: 0 0 2px rgba(0,0,0,.3);
     font-family: sans-serif;
     /* Uncomment box-shadow to have deeper beveled look */
     /*box-shadow:*/
     /*        inset 0 0 2px 0 rgba(255,255,255,.4),*/
     /*        inset 0 0 3px 0 rgba(0,0,0,.4),*/
     /*        inset 0 0 3px 5px rgba(0,0,0,.05),*/
     /*        2px 2px 4px 0 rgba(0,0,0,.25);*/
     border-radius: 4px;
     padding: 8px 8px;
     font-size: 8px;
     line-height: 14px;
     position: relative;
 }
.beveledButton.red { background: #bd3027; }
.beveledButton.green { background: #6ca72b; }
.beveledButton.blue { background: #4881c4; }
.beveledButton.orange { background: #ea9e13; }
.beveledButton.purple { background: mediumpurple; }
.beveledButton.gray { background: slategray; }
.beveledButton:before, .beveledButton:after {
    content: '';
    display: block;
    position: absolute;
    left: 2px;
    right: 2px;
    height: 3px;
}
.beveledButton:before {
    top: 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    background: rgba(255,255,255,.2);
    box-shadow: 0 1px 1px 0 rgba(255,255,255,.15);
}
.beveledButton:after {
    bottom: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(0,0,0,.15);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.15);
}


/****************************************************/
/* Admin page output table styling                  */
/*                                                  */
/* Ref: https://www.w3schools.com/css/css_table.asp */
/****************************************************/
.outputTable-admin {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 11pt;
    border-collapse: collapse;
    width: 100%;
}
.outputTable-admin th {
    border: 1px solid #ddd;
    font-weight: bold;
    padding: 2px;
}
.outputTable-admin td {
    border: 1px solid #ddd;
    padding: 2px;
    font-size: 10pt;
}
.outputTable-admin tr:nth-child(even){background-color: #f2f2f2;}
.outputTable-admin tr:nth-child(odd){background-color: #e1e1e1;}
.outputTable-admin tr:hover {background-color: rgba(238, 234, 17, 0.1);}
.outputTable-admin th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(232, 241, 14, 0.61);
    color: black;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2989d8+2,2668bf+38,207cca+56,7db9e8+100 */
    background: rgb(41,137,216); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(41,137,216,1) 2%, rgba(38,104,191,1) 38%, rgba(32,124,202,1) 56%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(41,137,216,1) 2%,rgba(38,104,191,1) 38%,rgba(32,124,202,1) 56%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(41,137,216,1) 2%,rgba(38,104,191,1) 38%,rgba(32,124,202,1) 56%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}

/*************************************************************/
/* Slide out menu                                            */
/*                                                           */
/* Ref: https://www.w3schools.com/howto/howto_js_sidenav.asp */
/*************************************************************/

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 5; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Shows app version info at top of slide out */
.sidenav .bottomVersionInfo {
   /*  padding: 128pt 32pt 64pt 8pt; */
    position: absolute;
    top: 28px;
    left: 16px;
    font-size: 9pt;
    color: #536e6f;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*************************************************************/
/*  Modal popup dialog                                       */
/*                                                           */
/* Ref: https://www.w3schools.com/howto/howto_css_modals.asp */
/*************************************************************/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    backdrop-filter: blur(2px);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-style: dotted;
    border-radius: 8px;
    box-shadow: 6px 6px 10px;
    width: 33%; /* Could be more or less, depending on screen size */
    z-index: 10;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}